
.privacy-title{
    margin: 5%;
	text-align: center;
	font-family: 'Goldman', cursive;
}
.privacy-content{
	margin: 5%;
	padding: 5%;
	text-align: justify;
	background: linear-gradient(90deg, rgb(120,130,243), rgb(83,82,238));
}
.privacy-content h2, h3, h4{
	color: orange;
}