
  .channel-profile{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
  .channel-profile-left{
  flex: 60%;
    text-align: center;
  }
  .channel-profile-left img{
   max-width: 640px;
    max-height: 640px;
    padding: 10px;
}
.channel-profile-right{
    flex: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.channel-profile-right-top{
    display: flex;
    flex-direction: row;

}

.channel-profile-right-data{
   flex: 40%;
   border-left: 2px solid white;
   padding-left: 15px;

}
.channel-profile-right-image{
   flex: 60%;
}

.channel-profile-right-data h1{
    font-size: 50px;
    font-family: 'Goldman', cursive;
}
.channel-profile-social{
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
}

.channel-profile-social a{
    text-decoration: none;
    margin: 10px;border: none;
    border-radius: 50%;
    color: white;
    font-size: xx-large;
    }
.channel-profile-social a:hover{
    cursor: pointer;
}

.channel-yt-btn{
    padding: 15px 17px;
    background: #cd201f;
}
.channel-yt-btn:hover{
    box-shadow: 2px 1px 25px 20px #cd201f;
}

.channel-ig-btn{
    padding: 15px 20px;
    background: #e4405f;
}
.channel-ig-btn:hover{
    box-shadow: 2px 1px 25px 20px #e4405f;
}

.channel-tw-btn{
    padding: 15px 17px;
    background: #55acee;
}
.channel-tw-btn:hover{
    box-shadow: 2px 1px 25px 20px #55acee;
}

.channel-fb-btn{
    padding: 15px 25px;
    background: #3b5999;
}
.channel-fb-btn:hover{
    box-shadow: 2px 1px 25px 20px #3b5999;
}

.channel-wb-btn{
    padding: 15px 20px;
    background: #410093;
}
.channel-wb-btn:hover{
    box-shadow: 2px 1px 25px 20px #410093;
}
.channel-profile-other{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 15% 0%;
}
.channel-profile-other-left{
    flex: 50%;
}

.channel-profile-other-right{
    flex: 50%;
}

@media (max-width: 425px){
    .channel-profile-social a{margin-left: 1%;}
    .channel-profile-right-data h3{
    font-size: 17px;
}
}

@media (max-width: 768px){
    .channel-profile{flex-direction: column;}
    .channel-profile-other{flex-direction: column;}
}