body{
    color: darkslategray;
    background:linear-gradient(125deg, #F1E0C7, #EAD1AB );
				  background-size: 600% 600%;
				animation: animate 8s infinite;
}

@keyframes animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.navbar{
    background: linear-gradient(90deg, #F1E0C7, #EAD1AB);
    box-shadow: 1px 1px 5px black;
}

.navbar a{
    color: darkslategray;
}

ul.breadcrumb li {
    color: white;
}

ul.breadcrumb li a {
    color: darkslategray;
}

.youtuber-profile-data h6{
    color: orange;
}

.youtuber-detail-other-left{
   background-color: #F1E0C7;
}

.youtuber-profile-other-right{
    background-color: #EAD1AB;
}

.subfooter-left{
   background-color: #F1E0C7;
}


.subfooter-right{
    background-color: #EAD1AB;
 }
.subfooter-right a{
    color: darkslategray;
}

.subfooter-right a:hover{
    color: darkslategray;
    border-bottom: 3px solid darkslategray;
}
.footer-copyright{
color: black;
     background:linear-gradient(90deg, #F1E0C7, #EAD1AB);
}

