
.header{
background: linear-gradient(90deg, #7882F3, #5352EE);
}
.header-hero{
display: flex;
justify-content: space-around;}

.header-hero-left{
text-align: center;
}
.header-hero-left img{
    width: 100%;
}

.header-hero-right{
margin: auto;
font-family: 'Goldman', cursive;
color: white;
}


.about{
display: flex;
margin: 10% 0%;
padding: 0% 10%;
background: linear-gradient(90deg, #7882F3, #5352EE);
color: white;
text-align: end;}

.about-left{
    flex: 45%;
}
.about-left img{
  width: 100%;
}

.about-right{
    flex: 55%;
    margin: auto;
}

.about-right h1{
font-family: 'Goldman', cursive;
}

.about-right a {
  background-color: #7882F3 10%;
  text-decoration: none;
  padding: 10px;
  margin: 30px;
  color: white;
  border: 2px solid #7882F3;
  border-radius: 50px;
}

.about-right a:hover {
  background-color: #7882F3;
    box-shadow: 1px 1px 30px #7882F3;
   border: 2px solid #5352EE;
}

.count{
display: flex;
justify-content: space-around;
margin: 10%;
text-align: center;}

.count-item{
background: linear-gradient(90deg, #7882F3, #5352EE);
box-shadow: 1px 1px 30px black;
margin: 5%;
padding: 5%;
color: white;
}

.count-item-number{
font-size: 35px;
font-family: 'Goldman', cursive;
font-weight: 900;
margin-bottom: 20px;}

.profile{
background: linear-gradient(90deg, #7882F3, #5352EE);
padding: 5% 0%;
}
.profile-title{
font-family: 'Goldman', cursive;
font-size: 23px;
text-align: center;
color: white;
}

.profile_type{
display: flex;
justify-content: space-around;
padding: 5% 0%;
}

.profile_type a{
    padding: 5% 10%;
    text-decoration: none;
    font-family: 'Goldman', cursive;
    font-size: 75px;
    border: 5px solid #7882F3;
    border-radius: 10px;
    color: white;
}
.profile_type a:hover{
    background-color: #7882F3;
    box-shadow: 5px 5px 30px #7882F3;
    border: 5px solid #5352EE;
}



.top{
display: flex;
justify-content: center;
background: linear-gradient(90deg, #7882F3, #5352EE);
margin: 10% 0%;
padding-bottom: 10px;
}


.top-left-a{
font-family: 'Alfa Slab One', cursive;
font-size: 50px;
color: white;
}

.top-left-b{
margin-top: -130px;
padding: 25px 160px;
font-family: 'Monoton', cursive;
font-size: 350px;
background: linear-gradient(90deg, #7882F3, #5352EE);
box-shadow: 10px 10px 30px #7882F3;
border-radius: 50%;
color: white;
}
.top-right{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
text-align: center;}
.top-right h1{

font-family: 'Goldman', cursive;
font-size: 100px;
background: linear-gradient(to right, #fff 0%, #7882F3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.top-right a {
  background-color: #7882F3 10%;
  text-decoration: none;
  padding: 3% 10%;
  color: white;
  border: 2px solid #7882F3;
  border-radius: 50px;
}

.top-right a:hover {
  background-color: #7882F3;
    box-shadow: 1px 1px 30px #7882F3;
   border: 2px solid #5352EE;
}

.subfooter-left{
    background-color: #7882F3;
    color: white;
}

.subfooter-right{
    background-color: #5352EE;
    color: white;
}

.subfooter-right a{
    color: white;
}

.footer-copyright{
color: white;
background: linear-gradient(90deg, #7882F3, #5352EE);
}

@media (max-width: 425px){
    .header-hero{
        flex-direction: column;
    }

    .header-hero-right{
        margin: 15% 0%;
        text-align: center;
    }
    .about{
        flex-direction: column;
        padding: 5%;
    }
    .about-left{
        text-align: center;
    }

    .count{
        flex-direction: column;
    }
    .count-item{
        margin: 10%;
    }
    .profile-title h1{
        font-size: 35px;
    }
    .profile_type{
        flex-direction: column;
        text-align: center;
    }
    .profile_type a{
        padding: 5% 10%;
        font-size: 25px;
    }
    .profile_type_yt{
        margin: 10%;
    }
    .profile_type_ch{
        margin: 10%;
    }
    .top{
        flex-direction: column;
        margin: 20% 0%;
    }
    .top-left-a{
     margin-top: 100px;
     margin-left: 50px;
        font-size: 30px;
    }

    .top-left-b{
        text-align: center;
        margin-top: -130px;
        padding: 25px 50px;

        margin-left: 10%;
        margin-right: 10%;
        font-size: 200px;
    }
    .top-right{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10px;
    }
    .top-right h1{
        font-size: 50px;
    }
    .submit{
        padding: 10%;
    }

}

@media (min-width: 426px) and (max-width: 768px){
    .header-hero{
        flex-direction: column;
    }
    .header-hero-left img{
    width: 95%;
    }
    .header-hero-right{
        margin: 15% 0%;
        text-align: center;
    }
    .about{
        flex-direction: column;
        padding: 5%;
    }
    .about-left{
        text-align: center;
        padding: 1% 10%;
    }
    .count{
        flex-direction: column;
    }
    .profile-title h1{
        font-size: 35px;
    }
    .profile_type{
        flex-direction: column;
        text-align: center;
    }
    .profile_type a{
        padding: 5% 10%;
        font-size: 25px;
    }
    .profile_type_yt{
        margin: 10%;
    }
    .profile_type_ch{
        margin: 10%;
    }
    .top{
        flex-direction: column;
        margin: 20% 0%;
    }
    .top-left-a{
     margin-top: 100px;
     margin-left: 30%;
        font-size: 30px;
    }

    .top-left-b{
        text-align: center;
        margin-top: -130px;
        padding: 25px 50px;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 200px;
    }
    .top-right{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10px;
    }
    .top-right h1{
        font-size: 50px;
    }
    .submit{
        padding: 10%;
    }

}

@media (min-width: 769px) and (max-width: 1280px){

    .about{
        flex-direction: row;
        padding: 5%;
    }
    .about-left, .about-right{
        flex: 50%;
        text-align: center;
    }
    .profile_type a{
        padding: 5% 10%;
        font-size: 35px;
    }
    .top{
        flex-direction: column;
        margin: 20% 0%;
    }
    .top-left-a{
     margin-top: 100px;
     margin-left: 30%;
        font-size: 30px;
    }

    .top-left-b{
        text-align: center;
        margin-top: -130px;
        padding: 25px 50px;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 200px;
    }
    .top-right{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10px;
    }
    .top-right h1{
        font-size: 50px;
    }
    .submit{
        padding: 10%;
    }

}