.category-list{
margin-bottom: 15%;
}
.category-title{
      display: flex;
      justify-content: center;
      margin: 5% 0%;
      font-family: 'Goldman', cursive;
  }
.category-list{
      display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
  }
  .category-card{
    width: 420px;
    height: 300px;
    margin: 50px;
    text-align: center;
    background-color: #4b5d67;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(120,130,243), rgb(83,82,238));
  }
  .category-card:hover{
    box-shadow: 0px 0px 30px #f0ece2;
  }

@media (max-width: 425px){

.category-card {
  width: 80%;
  height: 80%;
  }
  .category-card img{
  width: 90%;
  }
}

@media (max-width: 768px){
  .category-title{padding: 15%;}

 .category-card{
  margin: 20px;
  padding: 5px;
  }

}