.main{
    font-family: 'Goldman', cursive;
}
.category-title{
      display: flex;
      justify-content: center;

  }
    .diamond{
      display:flex;
      justify-content: center;
       padding: 10% 0%;

  }
    .diamond a{
  text-decoration: none;
    background: url('/static/category/images/diamond-button.png');
  padding: 40px 90px;
  border-radius: 15px;
  text-transform:uppercase;
  font-size:20px;
  font-weight:bold;
  color: black;
  animation:slide-diamond 6s linear infinite;
  }
  .diamond a:hover {

	box-shadow: 5px 5px 10px 5px cyan;
}
  .gold-first{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .gold-first a{
  text-decoration: none;
   background-image: linear-gradient(100deg, gold,gold,white,gold,gold);
   padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }

  .gold-second{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .gold-second a{
  text-decoration: none;
   background-image: linear-gradient(100deg, gold,gold,white,gold,gold);
   padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }
  .gold a:hover {

	box-shadow: 5px 5px 10px 5px gold;
}
 .silver-first{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .silver-first a{
  text-decoration: none;
   background-image: linear-gradient(100deg, #B4B4B4,#B4B4B4,white,#B4B4B4,#B4B4B4);
   padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }
  .silver-second{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .silver-second a{
  text-decoration: none;
   background-image: linear-gradient(100deg, #B4B4B4,#B4B4B4,white,#B4B4B4,#B4B4B4);
   padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }

  .silver a:hover {
     box-shadow: 5px 5px 10px 5px silver;
}

  .bronze-first{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .bronze-first a{
  text-decoration: none;
 background-image: linear-gradient(100deg,  #cd7f32,#cd7f32,#D7D7D7,#cd7f32,#cd7f32);
 padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }
  .bronze-second{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .bronze-second a{
  text-decoration: none;
  background-image: linear-gradient(100deg,  #cd7f32,#cd7f32,#D7D7D7,#cd7f32,#cd7f32);
  padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }
  .bronze-third{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0%;
  }
   .bronze-third a{
  text-decoration: none;
  background-image: linear-gradient(100deg,  #cd7f32,#cd7f32,#D7D7D7,#cd7f32,#cd7f32);
  padding: 10px 30px;
  border-radius: 15px;
    animation:slide-button 6s linear infinite;
  }
.bronze a:hover {
    box-shadow: 5px 5px 10px 5px #cd7f32;
}
@keyframes slide-diamond {

	0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
@keyframes slide-button {

	0%{
        background-position: 0vw;
    }
    50%{
        background-position: 15vw;
    }
    100%{
        background-position: 0vw;
    }

}




  @media (max-width: 768px){

  .category-title{padding: 15%;}
   .diamond a{padding: 30px 45px;font-size:20px;}
  .gold-first{flex-direction: column;}
  .gold-first a{margin: 5% 10%;padding: 3%;}
  .gold-second{flex-direction: column;}
  .gold-second a{margin: 5% 10%;padding: 3%;}
  .silver-first{flex-direction: column;}
  .silver-first a{margin: 5% 10%;padding: 3%;}
  .silver-second{flex-direction: column;}
  .silver-second a{margin: 5% 10%;padding: 3%;}
  .bronze-first{flex-direction: column;}
  .bronze-first a{margin: 5% 10%;padding: 3%;}
  .bronze-second{flex-direction: column;}
  .bronze-second a{margin: 5% 10%;padding: 3%;}

}



