body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow-x: hidden;
    font-family: 'Arial';
    color: white;
    background: linear-gradient(90deg, rgb(120,130,243), rgb(83,82,238));
        background-size: 400%;
				animation: animate 8s infinite;

}

@keyframes animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.container {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100vw;
    height: 100vh;
}
.navbar{
    display: flex;
    background: linear-gradient(90deg, #7882F3, #5352EE);
    justify-content: space-around;
    padding: 15px 0px;
    font-family: 'Goldman', cursive;

}
.navbar a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
}
.nav-logo a{
font-size: 20px;
color: white;
}
.nav-menu a{
    color: white;
    margin-left: 15px;
}
.nav-menu a:hover{
    border-bottom: 2px solid white;
}
.nav-social a{
    margin-left: 15px;
    color: white;
}


.nav-yt-btn:hover{color: #cd201f; }
.nav-ig-btn:hover{color: #e4405f; }
.nav-tw-btn:hover{color: #55acee; }
.nav-fb-btn:hover{color: #3b5999; }
.nav-wb-btn:hover{color: #410093; }

ul.breadcrumb {
    padding: 10px 16px;
    font-family: 'Goldman', cursive;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: yellow;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    text-decoration: underline;
  }

.channel-option{
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 10% 0%;
text-align: center;



}

.channel-option a{
background: linear-gradient(90deg, #7882F3, #5352EE);
font-family: 'Goldman', cursive;
padding: 5% 10%;
margin: 5%;
}
.channel-option a:hover{
box-shadow: 0px 0px 20px white}
.channel-option a{
color: white;
text-decoration: none;

}

.empty-list{
   display: flex;
   flex: 100%;
   justify-content: center;
   align-items: center;
   padding: 15% 0%;
}
    .subfooter{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Goldman', cursive;
}
.subfooter-left{
    flex: 50%;
    background-color: #7882F3;
    padding-bottom: 5%;
}

.subfooter-left-data{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 5%
}

.footer-tiys-social{display: flex;justify-content: center;padding-top: 5%;padding-bottom: 5%;}
.footer-tiys-social a{text-decoration: none;margin: 10px; border-radius: 50%;}
.footer-tiys-social a:hover{ cursor: pointer;}
.tiys-yt-btn{padding: 15px;border: 1px solid #cd201f; color: #cd201f;}
.tiys-yt-btn:hover{ background: #cd201f;color: white;}
.tiys-ig-btn{padding: 15px 16px;border: 1px solid #e4405f;color: #e4405f;}
.tiys-ig-btn:hover{background: #e4405f;color: white;}
.tiys-tw-btn{padding: 15px;border: 1px solid #55acee;color: #55acee;}
.tiys-tw-btn:hover{background: #55acee;color: white;}
.tiys-fb-btn{padding: 15px 19px;border: 1px solid #3b5999;color: #3b5999;}
.tiys-fb-btn:hover{background: #3b5999;color: white;}
.tiys-wb-btn{padding: 15px;border: 1px solid #410093;color: #410093;}
.tiys-wb-btn:hover{background: #410093;color: white;}


.subfooter-right{
    flex: 50%;
    padding-bottom: 5%;
    background-color: #5352EE;
}
.subfooter-right-data{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}
.subfooter-right-data ul{
    list-style: none;
    padding: 0% 10%;
}
.subfooter-right-data ul li{
    padding: 5px;

}

.subfooter-right a{
    text-decoration: none;
    color: white;
}
.subfooter-right a:hover{
    text-decoration: underline;
}

.footer-copyright{
    text-align: center;
    padding: 10px 0px;
    color: white;
    background: linear-gradient(90deg, #7882F3, #5352EE);
    }
@media (max-width: 425px){
    .navbar{
        padding: 15px 0px;
        border-bottom: 2px solid #7882F3;
    }

    .nav-logo{
    border-bottom: 2px solid #7882F3;
    }
    .nav-logo a{
    font-size: 30px;
    }
    .nav-menu{
    display: flex;
    flex-direction: column;
    margin: 35px 0px;

    }
    .nav-menu a{
    margin: 35px;
    }
    .nav-social a{
        margin: 15px;
        color: white;
    }
    .subfooter{flex-direction: column;}
    .subfooter-left-data{padding-bottom: 5%;}
    .subfooter-left{padding-bottom: 15%;}
}

@media (max-width: 768px){
  .navbar{flex-direction: column;}
  .nav-logo{display: flex;}
  .nav-logo a{margin: 10px auto;}
  .nav-menu{display: flex;}
  .nav-menu a{justify-content: center; margin: 15px auto;}
  .nav-social{display: flex; margin: 5px auto;}
  .channel-option{flex-direction: column;margin: 20% 0%;}
  .subfooter-left{flex: 50%;}
  .subfooter-right{flex: 50%;}
}