{% extends "youtuber/base.html" %}
{% block title %} Youtuber{% endblock %}

{% block meta %}
<meta name="Keywords" content="indian youtubers, tiys, the indian youtubers">
<meta name="description" content="On this page you will find info of indian youtubers based on their channel categories">
{% endblock %}

{% block css %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'youtuber/css/category-list.css' %}">

{% endblock %}
{% block content %}
<div class="main">
<!--breadcrumbs-->
    <ul class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li>Youtuber </li>
    </ul>
<!--end breadcrumbs-->
<!--category title-->
    <div class="category-title">
        <h1 class="m-5">Youtuber based on their Categories</h1>
    </div>
<!-- end category title-->

<!--category list-->
    <div class="category-list">
         {% for category in youtuber_category_list %}
            <div class="category-card">
                    <a href="{% url 'youtuber-subscat-list' category.slug %}">
                    {% if category.image_png_url %}
                        <img src=" {{category.image_png_url}}" alt="{{category.name}}">
                    {% endif %}
                    {% if category.image_png %}
                        <img src=" {{category.image_png.url}}" alt="{{category.name}}">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
<!--end category list-->
</div>
{% endblock %}