 <footer class="footer">
            <div class="subfooter">
                <div class="subfooter-left">
                    <div class="subfooter-left-data">
                        <div>
                            <h3>TIYS</h3>
                        </div>

                    </div>
                    <div class="subfooter-tiys-social">
                        <div>
                            <a href="" class="tiys-yt-btn"><i class="fab fa-youtube"></i></a>
                            <a href="" class="tiys-ig-btn"><i class="fab fa-instagram"></i></a>
                            <a href="" class="tiys-tw-btn"><i class="fab fa-twitter"></i></a>
                            <a href="" class="tiys-fb-btn"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="tiys-wb-btn"><i class="fas fa-globe-asia"></i></a>
                        </div>
                    </div>

                </div>
                <div class="subfooter-right">
                    <div class="subfooter-right-data">
                        <ul>
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li><a href="">Youtuber</a></li>
                            <li><a href="">Channel</a></li>
                            <li><a href="">Top 5</a></li>
                            <li><a href="">Submit Details</a></li>
                        </ul>

                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">F.A.Qs</a></li>
                            <li><a href="">Terms &amp; Conditions</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>



                    </div>
                </div>
            </div>
            <div class="footer-copyright">
               <div class="footer-copyright-data"> <p class="text-black">&copy; {% now "Y" %}. All Rights Reserved</p></div>
            </div>
        </footer>