<nav class="navbar">
            <div class="nav-logo">
                <a href="#">TIYS</a>
            </div>
            <div class="nav-menu">
                   <a href="{% url 'homepage' %}">Home</a>
                   <a href="{% url 'youtuber-index' %}">Youtuber</a>
                   <a href="{% url 'channel-index' %}">Channel</a>
                   <a href="{% url 'top-five-index' %}">Top 5</a>
                   <a href="{% url 'about-page' %}">About Us</a>
                   <a href="{% url 'submit-page' %}">Submit Details</a>
            </div>
            <div class="nav-social">
                <a href="" class="nav-yt-btn"><i class="fab fa-youtube"></i></a>
                <a href="" class="nav-ig-btn"><i class="fab fa-instagram"></i></a>
                <a href="" class="nav-tw-btn"><i class="fab fa-twitter"></i></a>
                <a href="" class="nav-fb-btn"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="nav-wb-btn"><i class="fas fa-globe-asia"></i></a>
            </div>
</nav>
