{% extends "top_five/base.html" %}
{% block title %} {{channel_category.name}} | Top 5 Channel {% endblock %}

{% block meta %}
<meta name="Keywords" content="top 5 indian {{channel_category.name}} channels">
<meta name="description" content="On this page you will find info of top 5 indian {{channel_category.name}} channels of different subscriber category ">
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'top_five/css/subscat-list.css' %}">
 {% if channel_category.slug == "auto-and-vehicle" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/auto-vehicle.css' %}">
    {% endif %}
    {% if channel_category.slug == "beauty-and-fashion" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/beauty.css' %}">
    {% endif %}
    {% if channel_category.slug == "comedy" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/comedy.css' %}">
    {% endif %}
    {% if channel_category.slug == "entertainment" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/entertainment.css' %}">
    {% endif %}
    {% if channel_category.slug == "family-entertainment" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/family.css' %}">
    {% endif %}
    {% if channel_category.slug == "food" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/food.css' %}">
    {% endif %}
    {% if channel_category.slug == "gaming" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/gaming.css' %}">
    {% endif %}
    {% if channel_category.slug == "kids" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/kids.css' %}">
    {% endif %}
    {% if channel_category.slug == "music-and-dance" %}
        <link rel="stylesheet" type="text/css" href="{% static 'top_five/css/category/music.css' %}">
    {% endif %}
{% endblock %}
{% block content %}
 <div class="main">
        <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                 <li><a href="{% url 'top-five-index' %}">Top 5</a></li>
                <li><a href="{% url 'top-five-channel-category' %}">Channel</a></li>
                <li>{{channel_category.name}}</li>
        </ul>

        <div class="category-title">
            <img src=" {{channel_category.image_png.url}}" alt="{{channel_category.name}}">
        </div>

        <div class="diamond">


        <a href="{% url 'top-five-channel-list' channel_category.slug '10-million' %}">10 Million</a>

        </div>

        <div class="gold">
            <div class="gold-first">

                    <a href="{% url 'top-five-channel-list' channel_category.slug '9-million' %}">9 Million</a>
                    <a href="{% url 'top-five-channel-list' channel_category.slug '8-million' %}">8 Million</a>
                    <a href="{% url 'top-five-channel-list' channel_category.slug '7-million' %}">7 Million</a>
                    <a href="{% url 'top-five-channel-list' channel_category.slug '6-million' %}">6 Million</a>
                    <a href="{% url 'top-five-channel-list' channel_category.slug '5-million' %}">5 Million</a>


            </div>
            <div class="gold-second">
                <a href="{% url 'top-five-channel-list' channel_category.slug '4-million' %}">4 Million</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '3-million' %}">3 Million</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '2-million' %}">2 Million</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '1-million' %}">1 Million</a>


            </div>
        </div>

        <div class="silver">
            <div class="silver-first">
                <a href="{% url 'top-five-channel-list' channel_category.slug '900k' %}">900K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '800k' %}">800K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '700k' %}">700K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '600k' %}">600K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '500k' %}">500K</a>
            </div>
           <div class="silver-second">
                <a href="{% url 'top-five-channel-list' channel_category.slug '400k' %}">400K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '300k' %}">300K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '200k' %}">200K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '100k' %}">100K</a>
           </div>
        </div>

        <div class="bronze">
            <div class="bronze-first">
                <a href="{% url 'top-five-channel-list' channel_category.slug '90k' %}">90K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '80k' %}">80K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '70k' %}">70K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '60k' %}">60K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '50k' %}">50K</a>
            </div>
            <div class="bronze-second">
                <a href="{% url 'top-five-channel-list' channel_category.slug '40k' %}">40K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '30k' %}">30K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '20k' %}">20K</a>
                <a href="{% url 'top-five-channel-list' channel_category.slug '10k' %}">10K</a>
            </div>
            <div class="bronze-third">
                <a href="{% url 'top-five-channel-list' channel_category.slug 'under-10k' %}">Under 10K</a>
            </div>
        </div>
    </div>

{% endblock %}
















